
{% extends "base.html" %}
{% load static %}

{% block content-fluid %}

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Asignar un recurso a una persona</h1>
    <p class="mb-4">Formulario para asignar un recurso, a una persona.</p>

    <div class="row">
        <div class="col-md-8">
            <div class="card shadow-sm " style="background: #4a79ff;">
                <div class="card-body">
        
                    <form method="POST" class="text-white mt-3">
                        {% csrf_token %}
                        
                        {{form.as_p}}

                        <button type="submit" class="btn btn-success btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="far fa-save"></i>
                            </span>
                            <span class="text">Guardar</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}