{% extends "base.html" %}

{% block content-fluid %}

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Recursos Asignados</h1>
    <p class="mb-4">Listado de recursos asignados a diferentes personas.</p>

    
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="d-flex">
                <div>
                    <h6 class="m-0 mt-2 font-weight-bold text-primary">Listado</h6>
                </div>
                <div style="width: 100%;">
                    <div class="float-right" >
                        <a href="{% url 'crear_asignacion_sin_codigo' %}" class=" btn btn-primary btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fas fa-people-carry"></i>
                                <!--i class="fas fa-people-arrows"></i-->
                            </span>
                            <span class="text">Crear Asignación</span>
                        </a>
                    </div>
                    
                </div>
            </div>
            
            
        </div>
        <div class="card-body">
            {% if asignaciones %}
                <div class="table-responsive">
                    <table class="table table-striped table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Persona</th>
                                <th>Recurso</th>
                                <th>Fecha Asignación</th>
                                <th>Fecha Desviculación</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Codigo</th>
                                <th>Recurso</th>
                                <th>Fecha Asignación</th>
                                <th>Fecha Desviculación</th>
                                <th>Acciones</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for a in asignaciones %}
                                <tr>
                                    <td> <p> <strong>{{ a.persona.nombres }} {{ a.persona.apellidos }}</strong> </p> </td>
                                    <td>{{ a.recurso }}</td>
                                    <td>{{ a.fecha_asignacion }}</td>
                                    <td>{{ a.fecha_desvinculacion }}</td>
                                    <td>
                                        <div class="card-body float-right p-0">
                                            <!--a href="#" class="btn btn-warning btn-circle btn-sm ">
                                                <i class="fas fa-pencil-alt"></i>
                                            </a-->
                                            <!--a href="{% url 'desvincular_asignacion' pk=a.id%}" title="Desvincular Asignación" data-toggle="modal" data-target="#exampleModal" class="btn btn-info btn-circle btn-sm ">
                                                <i class="fas fa-arrow-circle-left"></i>
                                            </a-->
                                            <a href="{% url 'detalle_asignacion' pk=a.id %}" title="Ver información" class="btn btn-info btn-circle btn-sm ">
                                                <i class="fas fa-eye"></i>
                                            </a>

                                            {% if a.fecha_desvinculacion == None %}
                                                <a href="{% url 'desvincular_asignacion' pk=a.id %}?page=lista_asignaciones" title="Desvincular Asignación" class="btn btn-danger btn-circle btn-sm ">
                                                    <i class="fas fa-arrow-circle-left"></i>
                                                </a>   
                                            {% endif %}
            
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}


                        </tbody>
                    </table>
                </div>
            {% else %}
                <div><center><h3>Sin asignaciones</h3></center></div>
            {% endif %}
        </div>
    </div>

    <!-- Modal Desvinculación -->
    <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Importante <i class="fas fa-exclamation-triangle"></i></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ¿Desea desvincular el recurso al usuario?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button type="button" class="btn btn-primary">Sí</button>
            </div>
          </div>
        </div>
      </div>
{% endblock %}